body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: yellow;
}

canvas {
    left: 0px;
    top: 0px;
    position: absolute;
}

#background: {
    z-index: -1;
}

#foreground {
    z-index: 0;
}
