body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

canvas {
    left: 0px;
    top: 0px;
    position: absolute;
}

#hud {
    z-index: 0;
}

#foreground {
    z-index: -1;
}

#background {
    z-index: -2;
}
